/* Tipografias y Root */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --font-family: 'Montserrat', sans-serif;
    --color: #fff;
    --display: flex;
    --align: center;
}
/* Tipografias y Root */
/* Prefijos */
body {
    font-family: var(--font-family);
    background-color: #121326;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* Prefijos */
/* HEADER */
header {
    width: 100%;
}
/* NavBar */
header nav {
    display: var(--display);
    justify-content: var(--align);
}
header nav .headerContainer {
    display: var(--display);
    flex-direction: column;
    align-items: var(--align);
    text-align: var(--align);
}
header nav .headerContainer .headerContainerTittle {
    color: var(--color);
    font-weight: 100;
    font-size: 1.3em;
    letter-spacing: 2px;
} 
header nav .headerContainer .headerContainerTittle span {
    font-weight: bold
}
header nav .headerContainer .daedalusIcon {
    height: 192px;
    width: 110px;
}
/* Animacion Header */
header nav .headerContainer .githubIcon {
    margin-top: 2em;
    animation: gitIcon 4s infinite;
    border-radius: 100%;
}
/* NavBar */
/* NavBar Animation */
@keyframes gitIcon {
    0% {
        transform: rotate(0deg) translateX(0px);
        box-shadow: 0 0 2em .1em rgba(99, 255, 85, 0.158),
        0 0 10em .1em rgba(99, 255, 85, 0.267),
        0 0 14em .1em rgba(99, 255, 85, 0.541);
    }
    50% {
        transform: rotate(360deg) translateX(80px);
        box-shadow: 0 0 2em .1em rgba(99, 255, 85, 0.158),
        0 0 12em .1em rgba(99, 255, 85, 0.582),
        0 0 16em .1em rgba(99, 255, 85, 0.781);
    }
    100% {
        transform: rotate(-360deg) translateX(0px);
        box-shadow: 0 0 2em .1em rgba(154, 255, 144, 0.377),
        0 0 16em .1em rgb(99, 255, 85),
        0 0 20em .1em rgba(57, 241, 41, 0.993);
    }
}
/* NavBar Animation */
/* Header Media Queries */
@media screen and (max-width: 530px){
    header nav .headerContainer .headerContainerList ul {
        display: block;
    }
    header nav .headerContainer .headerContainerList ul li {
        position: relative;
        top: 2em;
        width: 100%;
        padding: 1em 0em;
        display: inline-block;
        border-top: 1px solid rgba(255, 255, 255, 0.151);
    }
}
/* Header Media Queries */
/* Header List */
header nav .headerContainerList {
    display: var(--display);
    margin-top: 2em;
    justify-content: var(--align);
}
header nav .headerContainerList ul {
    justify-content: var(--align);
    align-items: var(--align);
    flex-direction: row;
    display: var(--display);
}
header nav .headerContainer .headerContainerList ul li:hover {
    box-shadow: 0 0 2em .1em #10101d,
        0 0 4em .1em #2a2a3d,
        0 0 5em .1em #161622;
    transition: .5s;
    text-shadow: 0 0 1em rgb(99, 255, 85);
    transform: scaleY(1.2);
}
header nav .headerContainerList ul li a {
    color: var(--color);
    margin: 1em;
    font-size: .8em;
    letter-spacing: .1em;
    font-weight: bolder;
}
header nav .headerContainerList ul li a::before {
    content: ' - ';
    color: rgb(99, 255, 85);
    margin: 0 .2em;
}
header nav .headerContainerList ul li a::after {
    content: ' - ';
    color: rgb(99, 255, 85);
    margin: 0 .2em;
}
/* Header List */
/* HEADER */
/* MAIN */
/* WELCOME CONTAINER */
main .contenedor {
    display: var(--display);
    flex-direction: column;
    justify-content: var(--align);
    align-items: var(--align);
    color: var(--color);
    text-align: var(--align);
}
main .contenedor .welcomeContainerTittle {
    font-size: 2.4em;
    letter-spacing: 2px;
    font-weight: 200;
}
main .contenedor .btn{
    padding: .6em 3em;
    margin: 1em;
    border-radius: .5em;
    border: none;
    background-color: #2cbb69;
}
main .contenedor .btn:hover {
    cursor: pointer;
    transition: 1.2s;
    box-shadow: 0 0 5em 1px rgba(255, 255, 255, 0.164);
}
main .contenedor .buttonDownload:hover {
    background-color: #2a2a49;
}
main .contenedor .getSupport {
    background-color: #2a2a49;
}
main .contenedor .getSupport:hover {
    background-color: #2cbb69;
}
main .contenedor .btn {
    color: var(--color);
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px
}
main .secundaryContainer {
    display: var(--display);
    margin-top: 3em;
    position: relative;
    width: 65%;
    padding: 3.5em;
    background-color: #2b2b3b;
    justify-content: var(--align);
    flex-direction: column;
    align-items: var(--align);
}
main .secundaryContainer .secundaryContainerTittle {
    font-size: 1.8em;
    font-weight: 200;
    margin-bottom: 1em;
}
main .secundaryContainer img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    box-shadow: 0 0 2em .1em rgba(63, 255, 46, 0.377),
        0 0 16em .1em rgb(99, 255, 85),
        0 0 20em .1em rgba(57, 241, 41, 0.993);
    border-radius: 100%;
}
@media screen and (max-width: 530px){
    main .secundaryContainer {
        width: 90%;
    }
}
/* WELCOME CONTAINER */
/* Wallet Tittle Container */
main .walletTittleContainer {
    display: var(--display);
    justify-content: var(--align);
    align-items: var(--align);
    font-weight: 200;
    opacity: .5;
    margin: 3em;
    text-align: var(--align);
    letter-spacing: 1px;
    color: var(--color);
    font-size: 2.2em;
}
/* Wallet Tittle Container */
/* Grid */
main .gridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: var(--align);
    grid-template-rows: auto auto;
    text-align: left;
    padding: 2em;
    width: 65%;
    color: var(--color);
    margin: auto;
    background-image: url(../img/rune.svg);
    background-size: cover;
    background-position: var(--align);
    gap: 30px 20px;
}
main .gridContainer .gridItem .gridItemContent img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 1em;
}
main .gridContainer .gridItem .gridItemContent .gridItemContentTittle {
    display: inline-block;
    font-size: 1em;
    width: 70%;
    position: relative;
    margin: 2em;
}
main .gridContainer .gridItem .gridItemContent .GridItemContentText {
    width: 80%;
}
/* Grid Media Queries */
@media screen and (max-width: 1200px){
    main .gridContainer {
        grid-template-columns: 100%;
        text-align: var(--align);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    main .gridContainer .gridItem .gridItemContent .gridItemContentTittle {
        margin: 1em auto;
    }
    main .gridContainer .gridItem .gridItemContent .GridItemContentText {
        text-align: var(--align);
        margin: auto;
    }
    main .gridContainer .gridItem .gridItemContent img {
        display: none;
    }
}
@media screen and (max-width: 400px){
    main .gridContainer .gridItem .gridItemContent .GridItemContentText {
        width: 100%;
    }
}
/* Grid Media Queries */
/* Grid */
/* MAIN */
/* FOOTER */
footer {
    margin-top: 10em;
    display: var(--display);
    align-items: var(--align);
    justify-content: var(--align);
}
footer .footerContainer {
    display: var(--display);
    border-top: 1px solid var(--color);
    width: 65%;
    padding: 1em;
    align-items: var(--align);
    color: var(--color);
    justify-content: space-between;
}
footer .footerContainer .footerContainerFirstLine {
    display: var(--display);
    align-items: var(--align);
    justify-content: var(--align);
}
footer .footerContainer .footerTittle {
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 1px;
}
footer .footerContainer .footerContainerTwoLine  {
    display: var(--display);
    justify-content: space-evenly;
}
/* Footer Icons */
.fa-twitter, 
.fa-linkedin,
.fa-reddit, 
.fa-instagram,
.fa-github {
    color: #2cbb69;
    margin: 0 1em;
    font-size: 1.2em;
}
.fa-twitter:hover,
.fa-linkedin:hover, 
.fa-reddit:hover, 
.fa-instagram:hover,
.fa-github:hover {
    cursor: pointer;
    transition: 1.2s;
    box-shadow: 0 0 2em .1em rgba(154, 255, 144, 0.377),
        0 0 16em .1em rgb(99, 255, 85),
        0 0 20em .1em rgba(57, 241, 41, 0.993);
}
/* Footer Icons */
/* Footer Media Queries */
@media screen and (max-width: 900px){
    footer .footerContainer {
        display: var(--display);
        justify-content: var(--align);
        flex-direction: column;
    }
    footer .footerContainer .footerContainerTwoLine {
        margin: 2em 0;
    }
}
/* Footer Media Queries */
/* FOOTER */
/* TEAM PAGE */
.container-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    width: 50%;
}
.container-team .containerTeamRow {
    margin-top: 4em;
}
.container-team img {
    height: 150px;
    width: 150px;
    outline: 2px solid #2cbb69;
    border-radius: 50%;
}
.container-team .containerTeamTittle {
    color: #2cbb69;
}
.container-team .containerTeamSpan {
    display: block;
    margin: 1em 0;
}
.container-team .containerTeamParagraph {
    opacity: .7;
    margin: 1em 0;
}
/* TEAM PAGE MEDIA QUERIES */
@media screen and (max-width: 800px){
    .container-team {
        width: 100%;
    }
}
/* TEAM PAGE MEDIA QUERIES */
/* TEAM PAGE DISCLAIMER */
.containerTeamDisclaimer {
    border-top: 2px solid #2cbb69;
    border-bottom: 2px solid #2cbb69;
    border-radius: 0em 2em / 0em 2em;
}
.containerTeamDisclaimer .containerTeamParagraph {
    margin-bottom: 2em;
}
/* TEAM PAGE DISCLAIMER */
/* TEAM */