/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
/* Import Variables */
/* prefixes and selection */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #121326;
}

p::selection {
  background-color: #2cbb69;
  color: #fff;
}

h5::first-letter {
  color: #2cbb69;
  text-shadow: 0 0 1em #05ff72;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Components */
/* Import Variables */
/* Header */
header {
  width: 100%;
  /* NavBar */
  /* Animation */
}
header nav {
  display: flex;
  justify-content: center;
  /* Header Container List */
  /* Header Container List End */
}
header nav .headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header nav .headerContainer .headerContainerTittle {
  color: #fff;
  font-weight: 100;
  font-size: 1.3em;
  letter-spacing: 2px;
}
header nav .headerContainer .headerContainerTittle span {
  font-weight: bold;
}
header nav .headerContainer .daedalusIcon {
  height: 192px;
  width: 110px;
}
header nav .headerContainer .cardanoIcon {
  margin-top: 2em;
  animation: gitIcon 4s infinite;
  border-radius: 100%;
}
@media screen and (max-width: 530px) {
  header nav .headerContainer .headerContainerList ul {
    display: block;
  }
  header nav .headerContainer .headerContainerList ul li {
    position: relative;
    top: 2em;
    width: 100%;
    padding: 1em 0em;
    display: inline-block;
    border-top: 1px solid rgba(255, 255, 255, 0.151);
  }
}
header nav .headerContainerList {
  display: flex;
  margin-top: 2em;
  justify-content: center;
}
header nav .headerContainerList ul {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
}
header nav .headerContainerList ul li:hover {
  box-shadow: 0 0 2em 0.1em #10101d, 0 0 4em 0.1em #2a2a3d, 0 0 5em 0.1em #161622;
  transition: 0.5s;
  text-shadow: 0 0 1em #63ff55;
  transform: scaleY(1.2);
}
header nav .headerContainerList ul li a {
  color: #fff;
  margin: 1em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: bolder;
}
header nav .headerContainerList ul li a::before {
  content: " - ";
  color: #63ff55;
  margin: 0 0.2em;
}
header nav .headerContainerList ul li a::after {
  content: " - ";
  color: #63ff55;
  margin: 0 0.2em;
}
@keyframes gitIcon {
  0% {
    transform: rotate(0deg) translateX(0px);
    box-shadow: 0 0 2em 0.1em rgba(99, 255, 85, 0.158), 0 0 10em 0.1em rgba(99, 255, 85, 0.267), 0 0 14em 0.1em rgba(99, 255, 85, 0.541);
  }
  50% {
    transform: rotate(360deg) translateX(80px);
    box-shadow: 0 0 2em 0.1em rgba(99, 255, 85, 0.158), 0 0 12em 0.1em rgba(99, 255, 85, 0.582), 0 0 16em 0.1em rgba(99, 255, 85, 0.781);
  }
  100% {
    transform: rotate(-360deg) translateX(0px);
    box-shadow: 0 0 2em 0.1em rgba(154, 255, 144, 0.377), 0 0 16em 0.1em #63ff55, 0 0 20em 0.1em rgba(57, 241, 41, 0.993);
  }
}

/* Import Variables */
/* Main */
main {
  /* Grid */
}
main .contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
main .contenedor .welcomeContainerTittle {
  font-size: 2.4em;
  letter-spacing: 2px;
  font-weight: 200;
}
main .contenedor .btn {
  padding: 0.6em 3em;
  margin: 1em;
  border-radius: 0.5em;
  border: none;
  background-color: #2cbb69;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
}
main .contenedor .btn:hover {
  cursor: pointer;
  transition: 1.2s;
  box-shadow: 0 0 5em 1px rgba(255, 255, 255, 0.164);
}
main .contenedor .buttonDownload:hover {
  background-color: #2a2a49;
}
main .contenedor .getSupport {
  background-color: #2a2a49;
}
main .contenedor .getSupport:hover {
  background-color: #2cbb69;
}
main .secundaryContainer {
  display: flex;
  margin-top: 3em;
  position: relative;
  width: 65%;
  padding: 3.5em;
  background-color: #2b2b3b;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .secundaryContainer .secundaryContainerTittle {
  font-size: 1.8em;
  font-weight: 200;
  margin-bottom: 1em;
}
main .secundaryContainer img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  box-shadow: 0 0 2em 0.1em rgba(63, 255, 46, 0.377), 0 0 16em 0.1em #63ff55, 0 0 20em 0.1em rgba(57, 241, 41, 0.993);
  border-radius: 100%;
}
@media screen and (max-width: 530px) {
  main .secundaryContainer {
    width: 90%;
  }
}
main .walletTittleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  opacity: 0.5;
  margin: 3em;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  font-size: 2.2em;
}
main .gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  grid-template-rows: auto auto;
  text-align: left;
  padding: 2em;
  width: 65%;
  color: #fff;
  margin: auto;
  background-image: url(../img/rune.svg);
  background-size: cover;
  background-position: center;
  gap: 30px 20px;
  /* Grid Media Queries */
}
main .gridContainer .gridItem .gridItemContent img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 1em;
}
@media screen and (max-width: 1200px) {
  main .gridContainer .gridItem .gridItemContent img {
    display: none;
  }
}
main .gridContainer .gridItem .gridItemContent .gridItemContentTittle {
  display: inline-block;
  font-size: 1em;
  width: 70%;
  position: relative;
  margin: 2em;
}
@media screen and (max-width: 1200px) {
  main .gridContainer .gridItem .gridItemContent .gridItemContentTittle {
    margin: 1em auto;
  }
}
main .gridContainer .gridItem .gridItemContent .GridItemContentText {
  width: 80%;
}
@media screen and (max-width: 1200px) {
  main .gridContainer .gridItem .gridItemContent .GridItemContentText {
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  main .gridContainer .gridItem .gridItemContent .GridItemContentText {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  main .gridContainer {
    grid-template-columns: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

/* Main */
/* Import Variables */
/* Footer */
footer {
  margin-top: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footerContainer {
  display: flex;
  border-top: 1px solid #fff;
  width: 65%;
  padding: 1em;
  align-items: center;
  color: #fff;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  footer .footerContainer {
    display: var(--display);
    justify-content: var(--align);
    flex-direction: column;
  }
}
footer .footerContainer .footerContainerFirstLine {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footerContainer .footerTittle {
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1px;
}
footer .footerContainer .footerContainerTwoLine {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 900px) {
  footer .footerContainer .footerContainerTwoLine {
    margin: 2em 0;
  }
}

/* Icons */
.fa-twitter,
.fa-linkedin,
.fa-reddit,
.fa-instagram,
.fa-github {
  color: #2cbb69;
  margin: 0 1em;
  font-size: 1.2em;
}
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-reddit:hover,
.fa-instagram:hover,
.fa-github:hover {
  cursor: pointer;
  transition: 1.2s;
  box-shadow: 0 0 2em 0.1em rgba(154, 255, 144, 0.377), 0 0 16em 0.1em #63ff55, 0 0 20em 0.1em rgba(57, 241, 41, 0.993);
}

/* Import Variables */
/* Team Page */
.container-team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10em;
  width: 50%;
}
.container-team .containerTeamRow {
  margin-top: 4em;
}
.container-team .containerTeamRow img {
  height: 150px;
  width: 150px;
  outline: 2px solid #2cbb69;
  border-radius: 50%;
}
.container-team .containerTeamRow .containerTeamTittle {
  color: #2cbb69;
}
.container-team .containerTeamRow .containerTeamSpan {
  display: block;
  margin: 1em 0;
}
.container-team .containerTeamRow .containerTeamParagraph {
  opacity: 0.7;
  margin: 1em 0;
}
@media screen and (max-width: 800px) {
  .container-team {
    width: 100%;
  }
}
.container-team .containerTeamDisclaimer {
  border-top: 2px solid #2cbb69;
  border-bottom: 2px solid #2cbb69;
  border-radius: 0em 2em/0em 2em;
}
.container-team .containerTeamDisclaimer .containerTeamParagraph {
  margin-bottom: 2em;
}

/*# sourceMappingURL=styles.css.map */
