/* Import Variables */
@import '../base/variables';
@import '../base/extend';
/* Footer */
footer {
    margin-top: 10em;
    @include flex(center);
    .footerContainer {
        border-top: 1px solid $color;
        width: 65%;
        padding: 1em; 
        color: $color;
        @include flex(space-between);

        /* Footer Container Media Queries */
        @media screen and (max-width: 900px) {
            @include flex(center);
            flex-direction: column;
        }
        .footerContainerFirstLine {
            @include flex(center);
        }
        .footerTittle {
            font-size: 1.2em;
            font-weight: 200;
            letter-spacing: 1px;
        }
        .footerContainerTwoLine  {
            @include flex(center);
            @include flex(space-evenly);
            @media screen and (max-width: 900px) {
                margin: 2em 0;
            }
        }
    }
}
/* Icons */
.fa-twitter, .fa-linkedin, .fa-reddit, .fa-instagram, .fa-github {
    @extend %icon;
}