/* Import Variables */
@import '../base/variables';
@import '../base/extend';
/* Footer */
footer {
    margin-top: 10em;
    @extend %flex;
    .footerContainer {
        @extend %flex;
        border-top: 1px solid $color;
        width: 65%;
        padding: 1em;
        color: $color;
        justify-content: space-between;

        /* Footer Container Media Queries */
        @media screen and (max-width: 900px) {
            @extend %flex;
            flex-direction: column;
        }
        .footerContainerFirstLine {
            @extend %flex;
        }
        .footerTittle {
            font-size: 1.2em;
            font-weight: 200;
            letter-spacing: 1px;
        }
        .footerContainerTwoLine  {
            @extend %flex;
            justify-content: space-evenly;
            @media screen and (max-width: 900px) {
                margin: 2em 0;
            }
        }
    }
}
/* Icons */
.fa-twitter, .fa-linkedin, .fa-reddit, .fa-instagram, .fa-github {
    @extend %icon;
}