/* Import Variables */
@import '../base/extend';
@import '../base/variables';
/* Main */
.contenedor {
    @extend %flex;
    color: $color;
    text-align: $align;
    flex-direction: column;
        .welcomeContainerTittle {
            font-size: 2.4em;
            letter-spacing: 2px;
            font-weight: 200;
        }
        .btn{
            @extend %btn;
            background-color: map-get($bg, bg-color-primary);
            &:hover {
                cursor: pointer;
                transition: 1.2s;
                box-shadow: 0 0 5em 1px rgba(255, 255, 255, 0.164);
            }
        }
        .buttonDownload:hover {
            background-color: map-get($bg, bg-color-secundary);
        }
        .getSupport {
            background-color: map-get($bg, bg-color-secundary);
            &:hover {
                background-color: map-get($bg, bg-color-primary);
            }
        }
}
.secundaryContainer {
    @extend %flex;
    margin-top: 3em;
    position: relative;
    width: 65%;
    padding: 3.5em;
    background-color: map-get($bg, bg-color-tertiary);
    flex-direction: column;
        .secundaryContainerTittle {
            font-size: 1.8em;
            font-weight: 200;
            margin-bottom: 1em;
        }
        img {
            width: 20px;
            height: 20px;
            position: absolute;
            top: -8px;
            box-shadow: 0 0 2em .1em rgba(63, 255, 46, 0.377),
                0 0 16em .1em rgb(99, 255, 85),
                0 0 20em .1em rgba(57, 241, 41, 0.993);
            border-radius: 100%;
        }
        @media screen and (max-width: 530px){
            width: 90%;
        }
}
.walletTittleContainer {
    @extend %flex;
    font-weight: 200;
    opacity: .5;
    margin: 3em;
    text-align: $align;
    letter-spacing: 1px;
    color: $color;
    font-size: 2.2em;
}
    /* Grid */
.gridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: $align;
    grid-template-rows: auto auto;
    text-align: left;
    padding: 2em;
    width: 65%;
    color: $color;
    margin: auto;
    background-image: url(../img/rune.svg);
    background-size: cover;
    background-position: $align;
    gap: 30px 20px; 
    .gridItem {
        .gridItemContent {
            img {
                width: 40px;
                height: 40px;
                position: relative;
                top: 1em;
                @media screen and (max-width: 1200px) {
                    display: none;
                }
                }
                .gridItemContentTittle {
                    display: inline-block;
                    font-size: 1em;
                    width: 70%;
                    position: relative;
                    margin: 2em;
                    @media screen and (max-width: 1200px) {
                        margin: 1em auto;
                    }
                }
                .GridItemContentText {
                    width: 80%;
                    @media screen and (max-width: 1200px) {
                        text-align: $align;
                        margin: auto;
                    }
                    @media screen and (max-width: 400px) {
                        width: 100%;
                    }
                }
            }
        }
        /* Grid Media Queries */
    @media screen and (max-width:1200px){
        grid-template-columns: 100%;
        text-align: $align;
        border-top: 1px solid $color;
        border-bottom: 1px solid $color;
    }
}
/* Main */